{
  "extends": ["taro", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-unused-vars": ["warn", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "@typescript-eslint/ban-ts-ignore": ["off"],
    "@typescript-eslint/interface-name-prefix": ["off"],
    "@typescript-eslint/type-annotation-spacing": ["off"],
    "@typescript-eslint/member-delimiter-style": ["off", {
      "multiline": {
        "delimiter": "none",
        "requireLast": false
      },
      "singleline": {
        "delimiter": "semi",
        "requireLast": false
      }
    }],
    "quotes": ["off"],
    "object-curly-spacing": ["off"],
    "react/jsx-closing-bracket-location": ["off"],
    "semi": "off",
    "eqeqeq": "off",
    "no-shadow": "warn",
    "import/first": "off",
    "import/no-named-as-default": ["off"],
    "no-trailing-spaces": "off",
    "space-before-function-paren": "off",
    "no-prototype-builtins": "off",
    "no-multi-spaces": "off",
    "prefer-const": "off",
    "no-unneeded-ternary": "off",
    "space-infix-ops": "off",
    "arrow-spacing": "off",
    "no-case-declarations": "off",
    "jsx-quotes": "off",
    "react/jsx-boolean-value": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-indent-props": "off",
    "react/sort-comp": "off",
    "@typescript-eslint/camelecase": ["off"],
    "@typescript-eslint/class-name-casing": ["off"],
    "@typescript-eslint/no-empty-interface": ["off"],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-empty-function": ["warn"],
    "@typescript-eslint/no-inferrable-types": ["off"]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  }
}
